<h1>Members</h1>
{{ link-to 'New member' 'members.new' tagName='button' class='btn btn-primary'}}
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
  </tr>
  </thead>
  <tbody>

  {{#each model as |member|}}

    <tr>
      <td>{{ member.id }}</td>
    </tr>

  {{/each}}

  </tbody>
</table>
