<h1>Members</h1>
<table>
  <thead>
  <tr>
    <th>Id</th>
  </tr>
  </thead>
  <tbody>

  {{#each model as |member|}}

    <tr>
      <td>{{ member.id }}</td>
    </tr>

  {{/each}}

  </tbody>
</table>
