<h1>New member</h1>
<form {{ action "save" on="submit" }}>
  {{ input
    value=model.id
    placeholder="Id"
    required=true }}
  <button type="submit" class="btn btn-primary">Save</button>
</form>
