<h1>Reports</h1>
{{link-to 'Create report' 'reports.new' tagName='button' class="btn btn-primary" }}
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Submitter</th>
      <th>is valid?</th>
    </tr>
  </thead>
  <tbody>

  {{#each model as |report|}}

    <tr>
      <td>{{link-to report.id 'reports.show' report }}</td>
      <td>{{ report.submitterId }}</td>
      <td>
        {{verifications/is-valid
          condition=report.valid}}
      </td>
    </tr>

  {{/each}}

  </tbody>
</table>