<h1>Personal Unpublished Reports</h1>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
  </tr>
  </thead>
  <tbody>

  {{#each model as |report|}}

    <tr>
      <td>{{link-to report.id 'reports.show' report }}</td>
    </tr>

  {{/each}}

  </tbody>
</table>
